body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}
main section {
    flex-basis : 48%;
    margin-right: 2%;
}
main section:last-child {
    margin-right: 0;
}
form {
    margin-top: 20px;
}
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    background-color: #ffd8b3;
    padding: 0 0.5em;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
}
input[type="text"], input[type="email"], textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #8b0000;
    transition: background-color 0.2s ease;
}
input[type="radio"]:checked {
    background-color: #4b0000;
    box-shadow: 0 0 0 1px #4b0000;
}
input[type="radio"]:hover {
    background-color: #4b0000;
}
input[type="radio"]{
    margin-right: 9px;
    vertical-align: middle;
}
input[type="radio"] + span {
    font-weight: bold;
    font-size: 1em;
    vertical-align: middle;
}
textarea{
    resize: none;
}
button[type="submit"], button[type="reset"]{
    background-color: #8b0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}
button[type="submit"]:hover, button[type="reset"]:hover{
    background-color: #4b0000;
}
hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
article {
    margin-top:20px;
}
b {
    display: block;
    margin-bottom: 10px;
}