.vinhos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 300px;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    transition: transform 0.3s ease;
    background-image: linear-gradient(to bottom, #8b4444, white);
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: auto;
}

.descricao h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.descricao p {
    font-size: 0.9em;
}

.descricao button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #8b0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.descricao button:hover {
    background-color: #e2b46a;
}
